<!doctype html>
<html>
<head>
	<title>git-edu</title>
	<link href='http://fonts.googleapis.com/css?family=Montserrat:400,700|Open+Sans:300italic,400italic,700italic,400,600,700,800,300' rel='stylesheet' type='text/css'>
	<link rel='stylesheet' href='static/style.css' type='text/css'>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
</head>
<body>
	<div id="left">
		<div class="big-gap-top">
			<h2>almost done!</h2>
		</div>
	</div>

	<div id="right">
		<div class="big-gap-top">
			<p>Please confirm the following details are correct:</p>
			<div id="reg-profpic">
				<img />
			</div>
			<form>
				<label for="name_field">Name</label>
				<input type="text" id="name_field" />

				<label for="name_field">Email</label>
				<input type="text" id="email_field" />

				<button>Finish registration</button>
			</form>
		</div>
	</div>

	<script type="text/javascript">
		$(document).ready(function() {
			$.getJSON('/gh/user').done(function(json) {
				$('#reg-profpic img').attr('src', json.avatar_url);
				$('#name_field').val(json.name);
				$('#email_field').val(json.email);
			});

			$(form).submit(function() {
				
			})
		})
	</script>
</body>
</html>
