<!doctype html>
<html>
<head>
	<title>git-edu</title>
	<link href='http://fonts.googleapis.com/css?family=Montserrat:400,700|Open+Sans:300italic,400italic,700italic,400,600,700,800,300' rel='stylesheet' type='text/css'>
	<link rel='stylesheet' href='static/style.css' type='text/css'>
</head>
<body>
	<div id="left">
		<div class="big-gap-top">
			<h2>welcome.</h2>
		</div>
	</div>

	<div id="right">
		<div class="big-gap-top">
			<p>Your professor has requested you to register with git-edu. Please sign-in with your Github credentials to continue.</p>
			<a href="https://github.com/login/oauth/authorize?client_id=a413e61288c47009bc3d&scope=user,repo,write:repo_hook,admin:org">
				<button>Login with Github</button>
			</a>
		</div>
	</div>
</body>
</html>
